* {
    margin: 0;
    padding: 0;
    font-family: monospace;
    box-sizing: border-box;
}

.container {
    width: 100%;
    min-height: 100vh;
    background-color: slategrey;
}

.graphlo-app {
    width: 100%;
    height: 1000px;
    max-width: 1000px;
    background-color: cornflowerblue;
    border-radius: 10px;
    margin: auto;
}

.graphlo-app h2 {
    color: whitesmoke;
    display: block;
    align-items: center;
    margin: 0px 50px 20px;
    font-size: 36pt;
    padding-top: 36px;
}

.graphlo-app h3 {
    color: whitesmoke;
    margin: 0px 50px 50px;
}

.row {
    width: 100%;
    display: block;
    align-items: center;
    margin: 0px 50px 20px;
}

button {
    padding: 10px 10px 10px;
    margin-right: 50px;
}

footer {
    width: 100%;
    color: whitesmoke;
    background-color: slategrey;
    padding-left: 10px;
}

footer ul {
    width: 100%;
    color: whitesmoke;
    padding-left: 1800px;
}